* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(113, 131, 161);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 30px auto;
    max-width: 320px;
    align-items: center;
}

.img {
    background-image: url(https://play-lh.googleusercontent.com/DTzWtkxfnKwFO3ruybY1SKjJQnLYeuK3KmQmwV5OQ3dULr5iXxeEtzBLceultrKTIUTr);
   
    

    width: 100%;
    height: 300px;
    background-position: center;
    border-radius: 8px 8px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}


.logo {
    width: 334px;
    height: 200px;
    border-radius: 8px 8px 0 0;
}


section {
    width: 334px;
    height: 330px;
    
    border-radius: 8px;
}



.txt {
    margin-top: -6px;
    padding-top: 10px;
    padding-left: 57px;
    width: 334px;
    height: 127px;
    border-radius: 0 0 8px 8px;
    background: white;
}
.txt h2 {
    margin-bottom: 10px;
}

form {
    background: white;
    border-radius: 8px;
    margin-top: 100px;


}

fieldset {
    border: none;
    padding: 0 28px 20px;
}

.input-wraper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
    font-weight: bold;
    
}

.input-wraper input {
    border: 1px solid #787878;
    border-radius: 8px;
    padding: 0 24px;
    height: 40px;
}

#descrição {
    height: 80px;
    border: 1px solid #787878;
    border-radius: 8px;
    padding: 15px 24px;
}

#anexos {
    border: none;
    padding: 5px 0;
    height: 40px;

}

button {
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    border: none;
    background-color: rgb(19, 113, 236);
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

button:hover {
    background-color: rgb(12, 71, 148);
}


.checkbox-wraper  {
    margin-top: 20px;
    font-weight: bold;
    display: flex;
    
}

#aceito {
    width: 21px;
    height: 20px;
}



.checkbox-wraper label  {
    margin-left: 20px;
}



@media (min-width: 700px) {
    
  main {
    max-width: 1020px;
    display: flex;
    flex-direction: row;
    margin: 210px auto;
    gap: 20px;
  }
   
  .txt {
    margin-top: -6px;
    padding-top: 20px;
    padding-left: 25px;
    width: 240px;
    height: 150px;
    
    border-radius: 0 0 8px 8px;
    background: white;
  }

  section {
   margin-left: 25px;
   margin-bottom: 51px;
   max-width: 240px;
   background: transparent;
  }

  fieldset {
    margin: auto;
    width: 460px;
    height: 460px;
  }

  .img {
    width: 100%;
    height: 220px;
    background-position: center;
    border-radius: 8px 8px 0 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
 
 /*
  .logo {
    max-width: 240px;
    height: 200px;
  } */

    form {
        margin-bottom: 20px;
    }

    
}